* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.form-input {
    margin: auto;
}

.form-input input {
    margin: 10px;
}

.log-in {
    margin: 6px;
    height: auto;
    align-self: center;
    justify-self: center;
    background-color: rgb(229, 231, 231);
    color: rgb(103, 13, 177);
}

.button {
    margin-bottom: 10px;
    padding: 10px;
}